/* responsive */

@media (max-width: 1100px) {

    /* home */
    #home {
        padding: 70px 30px 0;
    }

    .homeText {
        width: 590px;
    }

    .homeImage img {
        width: 550px;
    }

    /* about */

    #about {
        gap: 40px;
        padding: 50px 30px 0;
    }

    .aboutImage img {
        width: 450px;
    }
}

@media (max-width: 1000px) {

    #logo a {
        letter-spacing: 1px;
    }

    /* logo animation */

    @keyframes right {
        0% {
            opacity: 0;
            left: -100px;
        }

        100% {
            opacity: 1;
            left: 15px;
        }
    }

    nav a.nav {
        margin-right: 40px;
    }

    #home {
        padding: 70px 30px 0;
    }

    .homeText {
        width: 560px;
    }

    .homeText h1 {
        font-size: 40px;
        font-weight: 600;
    }

    .homeText h3 {
        font-size: 25px;
    }

    .homeText h3 span {
        font-size: 30px;
    }

    .homeImage img {
        width: 500px;
    }

    .aboutImage img {
        width: 350px;
    }

}

@media (max-width: 900px) {

    .homeText {
        width: 550px;
    }

    .homeText h1 {
        font-size: 35px;
        font-weight: 500;
    }

    .homeText h3 span {
        font-size: 25px;
    }

    .homeImage img {
        width: 450px;
    }

    #about {
        padding: 70px 20px 0;
        gap: 30px;
    }

    .aboutImage img {
        width: 300px;
    }

}

@media (max-width: 800px) {

    /* logo animation */

    @keyframes right {
        0% {
            opacity: 0;
            left: -100px;
        }

        100% {
            opacity: 1;
            left: 10px;
        }
    }

    nav a.nav {
        margin-right: 20px;
        padding: 0 3px;
    }

    #home {
        padding: 70px 20px 0;
    }

    .homeImage img {
        display: none;
    }

    .homeText h1 {
        font-size: 40px;
        font-weight: 600;
    }

    .homeText h3 {
        font-size: 30px;
    }

    .homeText h3 span {
        font-size: 35px;
    }

    #about {
        padding: 70px 20px 0;
        gap: 20px;
    }

    .aboutImage img {
        display: none;
    }

    .aboutText h2 {
        font-size: 30px;
    }

    .aboutText p {
        text-align: justify;
        line-height: normal;
    }

}

@media (max-width: 700px) {
    header #menu {
        display: block;
        position: relative;
        margin-right: 10px;
        z-index: 10;
        cursor: pointer;
        animation: top .5s ease forwards;
        animation-delay: calc(.2s * 2);
        opacity: 0;
        transition: .3s ease-in-out;
    }

    header .menu.active {
        transform: rotate(90deg);
    }

    nav {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        transform: rotate(-5deg);
        top: -20px;
        right: -500px;
        width: 400px;
        height: calc(100vh + 50px);
        background-color: #252525;
        transition: .5s ease-in-out;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }

    nav.active {
        right: -50px;
    }

    nav a.nav {
        transform: rotate(5deg);
        margin-top: 100px;
    }

    nav a.nav:nth-child(1),
    nav a.nav:nth-child(2),
    nav a.nav:nth-child(3),
    nav a.nav:nth-child(4) {
        animation: none;
    }

    nav a.open:nth-child(1) {
        animation: top .5s ease forwards;
        animation-delay: calc(.2s * 1);
    }

    nav a.open:nth-child(2) {
        animation: top .5s ease forwards;
        animation-delay: calc(.2s * 2);
    }

    nav a.open:nth-child(3) {
        animation: top .5s ease forwards;
        animation-delay: calc(.2s * 3);
    }

    nav a.open:nth-child(4) {
        animation: top .5s ease forwards;
        animation-delay: calc(.2s * 4);
    }

    nav a.nav:hover::after {
        width: 0;
    }

    @keyframes top {
        0% {
            opacity: 0;
            top: 100px;
            right: -40px;
        }

        100% {
            opacity: 1;
            top: 0;
            right: 5px;
        }
    }
}

@media (max-width: 500px) {

    nav {
        width: 300px;
    }

    .homeText h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .homeText h3 {
        font-size: 25px;
        font-weight: 400;
    }

    #Languages {
        flex-direction: column;
    }

    #Languages div {
        margin-top: 10px;
    }

}